header{
    background-color: rgba(160, 7, 63, 0);
}
h1{
    text-align: center;
}
header nav ul{
    list-style: none;
    display: inline;
    margin: 30px;

}
img{width: 50%;
margin: 20px;}

#bluecolor{
    color: blue;
}
#pinkcolor{
    color: rgb(179, 2, 75);
}
.redcolor{
    color: red;
}